*{
    margin: 0;
    padding: 0;
}
.parent{
    height: 100vh;
    width: 100%;
    background-color: Aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}


form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


form input{
    margin: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid black;
    padding: 10px;
    color: black;
}

input::placeholder{
    color: black;
}


.btn{
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 15px 30px;
    cursor: pointer;
    transition: 0.7s;
    border-radius: 2px;
}

.btn:hover{
    background-color: transparent;
    color: black;
    transition: 0.7s;

}